.guided_rubric_container_add_button {
  background-color: white;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  color: #009fe6;
  padding: 10px;
  margin: 15px 10px;
}

.guided_rubric_container_add_button h6:before {
  font-family: "FontAwesome";
  display: inline-block;
  width: auto;
  height: auto;
  content: "\f067";
}


.guided_rubric_container_add_button:hover {
  color: white;
  background-color: #009fe6;
  cursor: pointer;
}

#settings-tab .xblock-actions {
  position: unset;
}


li.field.dynamic-entry {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center */
  flex-direction: column;
  border: 1px solid #e5e5e5;
}

.wrapper-comp-setting-container {
  flex: 1;
}

.wrapper-rubric{
  border-top: 1px solid #e5e5e5;
  padding: 20px 10px;
}

.comp-remove-btn button {
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #626365;
  display: flex;
  align-items: center;
  gap: .5rem;
  border: 1px solid #e5e5e5;
  border-radius: 5px
}

.comp-remove-btn button span {
  font-weight: 900;
  font-size: 2.2rem;
}

.dynamic-entry input {
  width: 532px !important;
  margin-left: 20px;

}

.comp-remove-btn button span {
  margin-bottom: 2px
}

.comp-remove-btn button:hover {
  background-color: #626365;
  border-radius: 4px;
  color: #fff;

}

.helper-content {
  margin-top:1rem
}
.helper-content ul {
  margin-left:20px
}

.helper-content ul li, .helper-content p{
  font-size:1rem
}

.wrapper-comp-settings .list-input.settings-list .setting-help {
  max-width: 200px;
}

.textarea_ai_instructions {
    width: 532px;
    margin-left: 20px;
    min-height: 100px;
    background-image: -webkit-linear-gradient(#f2f2f2, #fff);
    border: 1px solid #b2b2b2;
}

.input-ai-instruction {
    width: 25%;
    margin-right: 10px;
}

.new-wrapper-div {
  width: 25%;
  margin-right: 10px;
}

.min-score {
  width: 100% !important;
  margin-bottom: 5px;
}

.minimum-score-input{
  height: unset !important;
}

.phase-border{
  border-top: none !important;
}

.comp-setting-entry input{
  width:532px !important
}

.wrapper-comp-setting-container input,.wrapper-comp-setting-container textarea {
  margin-left: -10px
}

.wrapper-comp-settings .list-input.settings-list .setting-label{
  width: 286px;
}

div#div_rubric_1 label{
  min-width: 300px !important;
  margin-right: 0px;
  margin-bottom: 5px;
}

textarea#rubric_1 {
  width: 532px
}

.wrapper-label {
  width: 300px;
}

.wrapper-label label {
width: 100% !important;
}

.wrapper-rubric {
  align-items: flex-start;
}


input#short_description {
  height: 43.2px;
}

input#completion_message {
  height: 43.2px;
}

input#max_tokens_per_user {
  height: 43.2px;
}


input#assistant_id {
  height: 43.2px;
}
.wrapper-comp-setting textarea{
  width: 532px;
  outline: none;
}

input#max_tokens_per_user {
  outline: none;
}

input.min-score {
  margin-right: -10px !important;
}

.bg-input-field {
    background-color: #f2f2f2;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    background-image: linear-gradient(#f2f2f2, #fff);
}

.wrapper-rubric-flexbox {
  display: flex;
  flex-wrap: wrap;
}

.dynamic-entry {
  margin-top: 10px !important;
}

.submit-input-btn {
  margin-left: -3px !important;
} 

.modal-lg.modal-editor .modal-content {
  height: 506px !important;
  overflow: hidden !important;
}
